## This is a https://direnv.net/ .envrc file

## Set ERL_LIBS, so that ErlangLS can find Gradualizer.
## ErlangLS specific config is present in erlang_ls.config.
export ERL_LIBS=${ERL_LIBS:-$(expand_path ..)}
