.eunit
deps
*.o
*.beam
*.plt
/.dialyzer_plt
*~
erl_crash.dump
ebin/*
rel/example_project
.concrete/DEV_MODE
.rebar
.erlang.mk
gradualizer.d
cover/
eunit.coverdata
test/ct.cover.spec
test/covertool.erl
test/covertool.hrl
/gradualizer
/_build
/bin/
/test_data/
