{profiles,
 [
  {test, [
          {deps,
           [
            {proper, {git, "https://github.com/proper-testing/proper.git", {branch, "master"}}}
           ]}
         ]}
 ]}.

{escript_emu_args, "%%! -escript main gradualizer_cli\n"}.

{shell, [{apps, [gradualizer]}]}.

{project_plugins, [rebar3_ex_doc]}.

{ex_doc, [
    {extras, [
          {'README.md', #{title => <<"Overview">>}},
          {'LICENSE', #{title => <<"License">>}}
    ]},
    {main, <<"readme">>},
    {source_url, <<"https://github.com/josefs/Gradualizer">>}
]}.
